body {
    background: #3B3E48;
}

.main {
    z-index: 100;
    position: relative;
}

.background {
    display: none;
    width: 100%;
    position: absolute;
}

.palatino-font {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.century-upper-font {
    font-family: "Century Gothic",Arial,sans-serif;
    text-transform: uppercase;
}

#sky {
    background-size: 100% 100%;
}

#city {
    background: url("/static/city.png");
    background-size: cover;
    height: 1000px;
    bottom: 0;
}

/* -------------------------------------------------------------------------------------------------- Cloud animation */
.cloud {
    position: fixed;
    background-size: cover;
    height: 356px;
    width: 100%;
    z-index: 6;
    background: url('/static/cloud.png') no-repeat -50% 0;

    animation: animateCloud 3s linear 0s infinite;
    -webkit-animation: animateCloud 3s linear 0s infinite;
    -moz-animation: animateCloud 3s linear 0s infinite;
    -ms-animation: animateCloud 3s linear 0s infinite;
    -o-animation: animateCloud 3s linear 0s infinite;

    animation-play-state: paused;
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -ms-animation-play-state: paused;
    -o-animation-play-state: paused;
}

@keyframes animateCloud {0% { background-position: -50% 0; } 100% { background-position: 150% 0; }}
@-webkit-keyframes animateCloud {0% { background-position: -50% 0; } 100% { background-position: 150% 0; }}
@-moz-keyframes animateCloud {0% { background-position: -50% 0; } 100% { background-position: 150% 0; }}
@-ms-keyframes animateCloud {0% { background-position: -50% 0; } 100% { background-position: 150% 0; }}
@-o-keyframes animateCloud {0% { background-position: -50% 0; } 100% { background-position: 150% 0; }}

/* -------------------------------------------------------------------------------------------------- Custom Bosstrap */
/* PANEL ------------------------------------------------------------------------------------------------------------ */
.panel-custom {
    background: transparent;
    border: 0;
    border-radius: 0;
}


.panel-custom h1 small,
.panel-custom h2 small,
.panel-custom h3 small,
.panel-custom h4 small,
.panel-custom h5 small {
    color: #d2d2d2;
}

.panel-custom .panel-body {
    border: 1px rgba(111, 84, 153, 0.90) solid;
    background-color: rgba(255, 255, 255, 0.8);
}

.panel-custom .panel-heading, .panel-custom .panel-footer {
    color: white;
    border-radius: 0;
    background: rgba(111, 84, 153, 0.90);
    border: 0;
}


/* NAVBAR ----------------------------------------------------------------------------------------------------------- */
.navbar-custom {
    font-family: "Century Gothic",Arial,sans-serif;
    text-transform: uppercase;
    margin-bottom: 0;
    border-radius: 0;
    border: 0;
}
.navbar-custom .navbar-nav > li > a,
.navbar-custom .navbar-brand {
    color: rgb(255, 255, 255);
}

.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
    color: rgb(195, 195, 195);
}

.navbar-custom .navbar-nav > .active a,
.navbar-custom .navbar-nav > .active a:hover,
.navbar-custom .navbar-nav > .active a:focus {
    color: rgba(0, 167, 255, 0.81);
    background-color: inherit;
}

/* JUMBOTRON -------------------------------------------------------------------------------------------------------- */
.container .jumbotron-custom {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding-top: 14px;
    padding-bottom: 14px;
    background-color: rgba(255, 255, 255, 0.8);
}

.container .jumbotron-custom h1,
.container .jumbotron-custom h2,
.container .jumbotron-custom h3,
.container .jumbotron-custom h4,
.container .jumbotron-custom h5 {
    margin-top: 0;
}

.container .jumbotron-custom p {
    margin-bottom: 0;
}