body {
    background: #3B3E48;
    overflow-x: hidden;
}

.main {
    z-index: 100;
    position: relative;
}

.palatino-font {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.century-upper-font {
    font-family: "Century Gothic",Arial,sans-serif;
    text-transform: uppercase;
}

#sky {
    background-size: 100% 100%;
    display: none;
    width: 100%;
    position: absolute;
}

#city {
    background: #3B3E48 url("/static/city.png") no-repeat fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: fixed;
    display: block;
}

@media (max-width: 991px) {
    #city {
        background: none;
        display: none;
    }
}

/* -------------------------------------------------------------------------------------------------- Cloud animation */
.cloud {
    position: fixed;
    background-size: cover;
    height: 356px;
    width: 100%;
    display: none;
    z-index: 6;
    background: url('/static/cloud.png') no-repeat -100% 0;

    animation: animateCloud 3s linear 0s infinite;
    animation-play-state: paused;
}

@keyframes animateCloud {0% { background-position: -50% 0; } 100% { background-position: 150% 0; }}

/* -------------------------------------------------------------------------------------------------- Custom Bosstrap */
/* PANEL ------------------------------------------------------------------------------------------------------------ */
.panel-custom {
    background: transparent;
    border: 0;
    border-radius: 0;
}

.panel-custom h1 small,
.panel-custom h2 small,
.panel-custom h3 small,
.panel-custom h4 small,
.panel-custom h5 small {
    color: #d2d2d2;
}

.panel-custom .panel-body h1,
.panel-custom .panel-body h2,
.panel-custom .panel-body h3,
.panel-custom .panel-body h4,
.panel-custom .panel-body h5 {
    position: relative;
    padding-top: 0.8em;
    color: rgb(111, 84, 153);
}

.panel-custom .panel-body h1 span,
.panel-custom .panel-body h2 span,
.panel-custom .panel-body h3 span,
.panel-custom .panel-body h4 span,
.panel-custom .panel-body h5 span {
    display: inline-block;
    position: relative;
    margin-left: 0em;
    padding-left: 0.3em;
}

.panel-custom .panel-body h1 span:before,
.panel-custom .panel-body h2 span:before,
.panel-custom .panel-body h3 span:before,
.panel-custom .panel-body h4 span:before,
.panel-custom .panel-body h5 span:before,
.panel-custom .panel-body h1 span:after,
.panel-custom .panel-body h2 span:after,
.panel-custom .panel-body h3 span:after,
.panel-custom .panel-body h4 span:after,
.panel-custom .panel-body h5 span:after {
    content: '';
    display: block;
    width: 0.8em;
    right: 100%;
    position: absolute;
    border-top: 1px solid black;
}

.panel-custom .panel-body h1 span:before,
.panel-custom .panel-body h2 span:before,
.panel-custom .panel-body h3 span:before,
.panel-custom .panel-body h4 span:before,
.panel-custom .panel-body h5 span:before {
    top: 0.5em;
}

.panel-custom .panel-body h1 span:after,
.panel-custom .panel-body h2 span:after,
.panel-custom .panel-body h3 span:after,
.panel-custom .panel-body h4 span:after,
.panel-custom .panel-body h5 span:after {
    top: 0.65em;
}

.panel-custom .panel-body a {
    color: #c37600;
}
.panel-custom .panel-body a:hover {
    color: rgb(111, 84, 153);
}

.panel-custom .panel-body {
    background-color: rgba(255, 255, 255, 0.8);
}

.panel-custom .panel-heading, .panel-custom .panel-footer {
    color: white;
    border-radius: 0;
    background: rgba(111, 84, 153, 0.90);
    border: 0;
}


/* NAVBAR ----------------------------------------------------------------------------------------------------------- */
.navbar-custom {
    font-family: "Century Gothic",Arial,sans-serif;
    text-transform: uppercase;
    margin-bottom: 0;
    border-radius: 0;
    border: 0;
}
.navbar-custom .navbar-nav > li > a,
.navbar-custom .navbar-brand {
    color: rgb(255, 255, 255);
}

.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
    color: rgb(195, 195, 195);
}

.navbar-custom .navbar-nav > .active a,
.navbar-custom .navbar-nav > .active a:hover,
.navbar-custom .navbar-nav > .active a:focus {
    color: rgba(0, 167, 255, 0.81);
    background-color: inherit;
}

/* JUMBOTRON -------------------------------------------------------------------------------------------------------- */
.container .jumbotron-custom {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding-top: 14px;
    padding-bottom: 14px;
    background-color: rgba(255, 255, 255, 0.8);
}

.container .jumbotron-custom h1,
.container .jumbotron-custom h2,
.container .jumbotron-custom h3,
.container .jumbotron-custom h4,
.container .jumbotron-custom h5 {
    margin-top: 0;
}

.container .jumbotron-custom p {
    margin-bottom: 0;
}

/* -------------------------------------------------------------------------------------------------- Core components */
a:focus {
    outline: 0;
}

.ul-custom {
    padding-left: 0;
    list-style: outside none none;
}

.ul-custom ul li:before {
    content: '- ';
}
.ul-custom ul {
    padding-left: 1.4em;
    list-style: outside none;
}

.ul-custom .list-title {
    font-weight:bold;
}
