.project > .panel-footer .century-upper-font span {
    font-size: 1.1em;
}

.project > .panel-footer .century-upper-font span:before {
    content: '#';
    color: #80ff00;
}

.project > .panel-footer .century-upper-font span:after {
    content: ' ';
}

/* Affix ------------------------------------------------------------------------------------------------------------ */
#scrollspy {
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: rgb(111, 84, 153);
}

#scrollspy a small {
    color: #d2d2d2;
}

#scrollspy a:before {
    content: '> ';
    color: transparent;
}

#scrollspy .active > a:before,
#scrollspy a {
    color: white;
}

#scrollspy a:hover,
#scrollspy a:focus {
    color: rgb(111, 84, 153);
}

/* Used for collapse submenu
#scrollspy li ul {
    display: none;
}

#scrollspy .active ul {
    display: block;
}
*/

#scrollspy li ul li {
    padding-left: 1.5em;
}

@media (max-width: 991px) {
    #scrollspy {
        display: none;
    }
}