#cv ul {
    padding-left: 0;
    list-style: outside none none;
}

#vertical-line {
    position: absolute;
    height: 100%;
    width: 0.3em;
    left: 2.3em;
    background: #437adb;
    z-index: 1;
}

.entry-point {
    float: left;
    width: 2.8em;
    height: 2.8em;
    background-color: #ffffff;
    border: 5px solid #437adb;
    border-radius: 45px;
    z-index: 10;
    position: relative;

}

.entry-details {
    overflow: auto;
    position: relative;
}

.entry-details-content {
    float: none;
    width: auto;
    z-index: 10;
    margin-left: 11px;
    position: relative;
}

.entry-details-content > .arrow,
.entry-details-content > .arrow:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border: solid transparent;
}

.entry-details-content > .arrow {
    border-width: 11px;
    top: 20px;
    left: -11px;
    margin-top: -11px;
    border-right-color: #999;
    border-right-color: rgba(0, 0, 0, .25);
    border-left-width: 0;
}
.entry-details-content > .arrow:after {
    border-width: 10px;
    bottom: -10px;
    left: 2px;
    content: " ";
    border-right-color: #F5F5F5;
    border-left-width: 0;
}
#jumbotron-custom {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding-top: 14px;
    padding-bottom: 14px;
}

#jumbotron-custom h2 {
    margin-top: 0;
}

#jumbotron-custom p {
    margin-bottom: 0;
}