<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge'><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <title>{{ handler.settings["site_title"] }}</title>

    <link href='{{ static_url("css/libs/bootstrap.min.css") }}' rel="stylesheet" media="screen">
    <link href='{{ static_url("css/global.css") }}' rel="stylesheet" media="screen">
    {% block head %}{% end %}
</head>
<body data-spy="scroll" data-target="#scrollspy">
    <div id="city" data-stellar-ratio="0.3" data-stellar-horizontal-offset="0"></div>
    <div id="clouds"></div>
    <div class="main">
        <nav class="navbar navbar-inverse navbar-custom" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Liomka.IO</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="nav-collapse">
                    <ul class="nav navbar-nav">
                        <li class="{% block homePage %}{% end %}"><a href="/">Home</a></li>
                        <li class="{% block cvPage %}{% end %}"><a href="/cv">CV</a></li>
                        <li class="{% block jsPage %}{% end %}"><a href="/demo">Demo</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Projects <small class="text-muted">- Sources links <span class="caret"></span></small></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="https://github.com/liomka/Pulm">Pulm <small class="text-muted">- Shows manager</small></a></li>
                                <li class="divider"></li>
                                <li><a href="https://bitbucket.org/Liomka/pulp">Pulp <small class="text-muted">- All WS projects</small></a></li>
                                <li class="divider"></li>
                                <li><a href="/demo">JsWSClient <small class="text-muted">- Javascript Client</small></a></li>
                                <li><a href="https://github.com/liomka/PyWSServer">PyWSServer <small class="text-muted">- Python Server</small></a></li>
                                <li><a href="https://bitbucket.org/Liomka/qwsserver">QWSServer <small class="text-muted">- C++/Qt Server</small></a></li>
                                <li><a href="https://bitbucket.org/Liomka/qwsclient">QWSClient <small class="text-muted">- C++/Qt Client</small></a></li>
                                <li><a href="https://bitbucket.org/Liomka/jwsserver">JWSServer <small class="text-muted">- Java Server</small></a></li>
                                <li><a href="https://bitbucket.org/Liomka/jwsclient">JWSClient <small class="text-muted">- Java Client</small></a></li>
                                <li></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a id="current-weather" class="btn dropdown-toggle" data-toggle="dropdown" role="button" href="#"><img src='{{static_url("icons/little-clouds-white-24px.png")}}' class="img-responsive" alt="Change weather"></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a id="moon-button" class="btn" role="button" href="#"><img src='{{static_url("icons/moon-symbol-dark-24px.png")}}' class="img-responsive" alt="Moon"></a></li>
                                <li><a id="clouds-button" class="btn hidden" role="button" href="#"><img src='{{static_url("icons/little-clouds-dark-24px.png")}}' class="img-responsive" alt="Moon"></a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a class="btn" role="button" href="https://github.com/liomka"><img src='{{static_url("icons/GitHub-Mark-24px.png")}}' class="img-responsive" alt="GitHub Account"></a></li>
                        <li><a class="btn" role="button" href="https://bitbucket.org/Liomka"><img src='{{static_url("icons/Bitbucket-24px.png")}}' class="img-responsive" alt="BitBucket Account"></a></li>
                        <li><a class="btn" role="button" href="http://fr.linkedin.com/pub/arthur-agombart/58/790/516"><img src='{{static_url("icons/LinkedIn-24px.png")}}' class="img-responsive" alt="LinkedIn Account"></a></li>
                        <li><a class="btn" role="button" href="http://www.viadeo.com/profile/002togokm4syap6/"><img src='{{static_url("icons/Viadeo-24px.png")}}' class="img-responsive" alt="Viadeo Account"></a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>

        {% block body %}{% end %}

        <nav class="navbar navbar-inverse navbar-bottom navbar-custom" role="navigation">
            <div class="container">
                <p class="navbar-text navbar-right"><a class="navbar-link" href="#">Developed by Arthur A.</a></p>
            </div>
        </nav>
    </div>

    <script type="text/javascript" src='{{ static_url("js/libs/jquery-2.1.1.min.js") }}'></script>
    <script type="text/javascript" src='{{ static_url("js/libs/jquery.stellar.min.js") }}'></script>
    <script type="text/javascript" src='{{ static_url("js/libs/bootstrap.min.js") }}'></script>
    <script type="text/javascript" src='{{ static_url("js/libs/jquery-ui-1.9.2.custom.min.js") }}'></script>
    <script type="text/javascript" src='{{ static_url("js/libs/waypoints.min.js") }}'></script>
    <script type="text/javascript" src='{{ static_url("js/global.js") }}'></script>
    {% block scripts %}{% end %}
</body>
</html>