{% extends "base.html" %}


{% block body %}
<div class="container">
    <div class="row">
        <div class="jumbotron">
            <div class="pull-right">
                <p class="text-right"><a class="btn btn-primary btn-lg" role="button">GitHub</a></p>
                <p class="text-right"><a class="btn btn-primary btn-lg" role="button">BitBucket</a></p>
                <p class="text-right"><a class="btn btn-primary btn-lg" role="button">Linkedin</a></p>
                <p class="text-right"><a class="btn btn-primary btn-lg" role="button">Viadeo</a></p>
            </div>
            <h1>Liomka.IO <small><small>portofolio</small></small></h1>
            <p>
                <kbd><span class="text-muted">Liomka@web</span> <span class="text-danger">~/$</span> echo "Hello !"</kbd>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
            </p>
        </div>
    </div>
</div>
{% end %}