{% extends "base.html" %}

<!-- TODO find a better way -->
{% block homePage %}active{% end %}

{% block head %}
<link href='{{ static_url("css/index.css") }}' rel="stylesheet" media="screen">
{% end %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="jumbotron jumbotron-custom">
                <h3>I'M NOT A WEB DEVELOPER! <small>But I've made this site.</small></h3>
                <p>Seeking for a new job, I made this site to show you my projects.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-1" data-offset="0">
            <div id="pulp" class="panel panel-custom project">
                <div class="panel-heading">
                    <h3>Pulp <small>- WebSockets chat</small></h3>
                </div>
                <div class="panel-body">
                    <!-- Description -->
                    <p>I've made a client/server chat application using the WebSocket implementation in a selection of programming languages.</p>
                    <p>The WebSocket protocol replace the http for fastest communication between computers. Unfortunatelly it's also less secure. For this project, I choosed to develop a chat, because it's easy to show, but we can easily WebSocket for geolocalisation, game, social-innovative-meeting-mobile-app!</p>
                    <p>The whole project is available on this <a href="https://bitbucket.org/Liomka/pulp">BitBucket page</a> as git submodules</p>
                    <p>For the communication, JSON is the winner, for the lightweight. It's obvious, for a lightweight protocol, the most lightweight data transmission is what I need.</p>

                    <div class="text-right">
                        <span>Jump to: <a href="#pulp-javascript">Js</a> | <a href="#pulp-python">Python</a> | <a href="#pulp-qt">Qt</a> | <a href="#pulp-java">Java</a> </span>
                    </div>

                    <!-- Javascript -->
                    <div class="subpanel">
                        <div  id="pulp-javascript" class="project">
                            <h4><span>Javascript</span></h4>
                            <p>Demo: <a href="/demo">Demo page</a></p>
                            <p>GiHub: <a href="https://github.com/liomka/LiomkaSite/blob/master/templates/jswsclient.html">Source page</a></p>
                            <div class="alert alert-warning" role="alert">
                                <p>This section is under construction.</p>
                            </div>
                            <h5>What I used?</h5>
                            <p>JQuery, Bootstrap, JSON.</p>
                            <h5>Why?</h5>
                            <p>Just for you, user interested of my projects/profile. Because I need to show stuffs easily, and I need people for see this stuffs.</p>
                            <h5>How</h5>
                            <p>With incredible ease, seriously, every WebSocket server documentation provide a sample Js script to test. So copy/past, and then, JSON, the most simple data format to use with it.</p>
                            <h5>What I've learned</h5>
                            <p>Javascript is a very ugly language BUT, with some libs, imagination, and a total obfuscation of old browsers,  we can make great and beautiful things. Definitely, this project reconciled me with Js, so.. I've make <a href="#site">This site</a>. Thanks JQuery.</p>
                        </div>
                    </div>

                    <!-- Qt -->
                    <div class="subpanel">
                        <div  id="pulp-qt" class="project">
                            <h4><span>Qt</span></h4>
                            <div class="alert alert-warning" role="alert">
                                <p>This section is under construction.</p>
                                <p>You can find the source of the client on this <a href="https://bitbucket.org/Liomka/qwsclient">BitBucket page</a></p>
                                <p>You can find the source of the server on this <a href="https://bitbucket.org/Liomka/qwsserver">BitBucket page</a></p>
                            </div>
                            <p>While I was developing the Pulp Project, I saw a new version of Qt: 5.3. Ho Woah! It's new! And what? It's implementing WebSocket protocol?</p>
                            <p>And that's it. Two day after I had finished the skeleton of the chat server, working with multiple clients on Javascript and an other simple Qt client.</p>
                        </div>
                    </div>

                    <!-- Python -->
                    <div class="subpanel">
                        <div  id="pulp-python" class="project">
                            <h4><span>Python</span></h4>
                            <div class="alert alert-warning" role="alert">
                                <p>This section is under construction.</p>
                                <p>You can find the source of the server on this <a href="https://github.com/liomka/PyWSServer">GitHub page</a></p>
                                <p>It's a very interesting part of the project. Here, I can learn to make a Python server, which was surprisingly fast. For this, I used a Cyclone server, because it seems to be best implementation of WebSocket server.</p>
                                <p>Python is for me a very interesting language to its flexibility, documentation, and flexibility.</p>
                            </div>
                        </div>
                    </div>

                    <!-- Android -->
                    <div class="subpanel">
                        <div  id="pulp-android" class="project">
                            <h4><span>Android</span></h4>
                            <div class="alert alert-warning" role="alert">
                                <p>This section is under construction.</p>
                                <p>You can find the source of the client on this <a href="https://bitbucket.org/Liomka/androidwsclient">BitBucket page</a></p>
                            </div>
                        </div>
                    </div>

                    <!-- Java -->
                    <div class="subpanel">
                        <div  id="pulp-java" class="project">
                            <h4><span>Java</span></h4>
                            <div class="alert alert-warning" role="alert">
                                <p>This section is under construction.</p>
                                <p>You can find the source of the client on this <a href="https://bitbucket.org/Liomka/jwsclient">BitBucket page</a></p>
                                <p>You can find the source of the server on this <a href="https://bitbucket.org/Liomka/jwsserver">BitBucket page</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <span class="century-upper-font">
                        <span>WebSockets</span>
                        <span>CrossPlatform</span>
                        <span>NewTechnology</span>
                        <span>Git</span>
                    </span>
                </div>
            </div>

            <!-- Pulm -->
            <div id="pulm" class="panel panel-custom project">
                <div class="panel-heading">
                    <h3>Pulm <small>- also known as Serizer</small></h3>
                </div>
                <div class="panel-body">
                    <div class="alert alert-warning" role="alert">This section is under construction.</div>
                </div>
                <div class="panel-footer">
                    <span class="century-upper-font">
                        <span>Qt5</span>
                        <span>JSon</span>
                        <span>RestApi(User)</span>
                        <span>SQLite</span>
                        <span>QtCreator</span>
                        <span>Mac</span>
                        <span>Windows</span>
                    </span>
                </div>
            </div>

            <!-- This site -->
            <div id="site" class="panel panel-custom project">
                <div class="panel-heading">
                    <h3>This site <small>- Yeah... it's also a project, after all...</small></h3>
                </div>
                <div class="panel-body">
                    <div class="alert alert-warning" role="alert">This section is under construction.</div>
                    <p>
                        This site run on a Python <a href="http://www.tornadoweb.org/en/stable/">Tornado web</a> server using pip.
                        It's using bootstrap, jquery and some lib I describe on the GitHub page.
                    </p>
                </div>
                <div class="panel-footer">
                    <span class="century-upper-font">
                        <span>Python</span>
                        <span>Bootstrap</span>
                        <span>jquery</span>
                        <span>stellar.js</span>
                        <span>uwsgi</span>
                        <span>Git</span>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div id="scrollspy" class="affix-custom affix-top" role="tablist" data-spy="affix" data-offset-top="160" data-offset-bottom="70">
                <ul class="nav">
                    <li>
                        <a href="#pulp">Pulp - <small>Chat</small></a>
                        <ul class="nav">
                            <li><a href="#pulp-javascript">Javascript</a></li>
                            <li><a href="#pulp-qt">Qt</a></li>
                            <li><a href="#pulp-python">Python</a></li>
                            <li><a href="#pulp-android">Android</a></li>
                            <li><a href="#pulp-java">Java</a></li>
                        </ul>
                    </li>
                    <li><a href="#pulm">Pulm - <small>Series</small></a></li>
                    <li><a href="#site">This site</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% end %}

{% block scripts %}
<script type="text/javascript" src='{{ static_url("js/index.js") }}'></script>
{% end %}
