{% extends "base.html" %}

<!-- TODO find a better way -->
{% block homePage %}active{% end %}

{% block head %}
<link href='{{ static_url("css/index.css") }}' rel="stylesheet" media="screen">
{% end %}

{% block body %}
<div class="container">

    <!-- Summary -->
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="jumbotron jumbotron-custom">
                <h3>Polyvalent Developer! <small>But I've made this site.</small></h3>
                <p>Seeking for a new job, I made this site to show you my projects.</p>
            </div>
        </div>
    </div>

    <!-- Content -->
    <div class="row">

        <!-- Projects -->
        <div class="col-md-8 cold-xs-12 col-md-offset-1" data-offset="0">
        {% for project in projects %}
            {% module Project(project) %}
        {% end %}
        </div>

        <!-- Right navbar -->
        <div class="col-md-2">
            <div id="scrollspy" class="affix-custom affix-top" role="tablist" data-spy="affix" data-offset-top="160" data-offset-bottom="70">
                <ul class="nav">
                {% for project in projects %}
                    <li>
                        <a href="#{{ project.anchor_name }}">{{ project.name }}</a>
                        {% if project.sub_projects %}
                        <ul class="nav">
                            {% for sub_project in project.sub_projects %}
                            <li><a href="#{{ project.anchor_name }}-{{ sub_project.anchor_name }}">{{ sub_project.title }}</a></li>
                            {% end %}
                        </ul>
                        {% end %}
                    </li>
                {% end %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% end %}

{% block scripts %}
<script type="text/javascript" src='{{ static_url("js/index.js") }}'></script>
{% end %}
